<div class="container">
    <ngx-content-loading [width]="800" [height]="200">
        <svg:g ngx-facebook-preset></svg:g>
    </ngx-content-loading>

    <ngx-content-loading [width]="800" [height]="300">
        <svg:g ngx-instagram-preset></svg:g>
    </ngx-content-loading>

    <ngx-content-loading [width]="800" [height]="300">
        <svg:g ngx-code-preset></svg:g>
    </ngx-content-loading>

    <ngx-content-loading [width]="800" [height]="300">
        <svg:g ngx-bullet-list-preset></svg:g>
    </ngx-content-loading>

    <ngx-content-loading [width]="800" [height]="300">
        <svg:g ngx-list-preset></svg:g>
    </ngx-content-loading>
</div>
